<% if logged_in? %>
<center><%= image_tag("logo.png") %></center><br>
	<center><h3>User: <%= current_user.name %> </h3></center>
	<center><h3>Email: <%= current_user.email %></h3><center>
		<div class="center jumbotron">
			<center>
				 <%= link_to edit_user_path(current_user), class: "btn btn-lg btn-primary" do %>
					<span class="glyphicon glyphicon-wrench"></span> Edit User Info
				<% end %>
				<%= link_to logout_path, method: "delete", class: "btn btn-lg btn-primary" do %>
					<span class="glyphicon glyphicon-remove"></span> Log out
				<% end %>
				<br>
				<br>
<div>
				<%= link_to "Start", component_pages_motherboard_path,
																			class: "btn btn-large btn-success" %>
</div>
			</center>
		</div>
<% else %>
<center><%= image_tag("logo.png") %></center><br>
	<div class="center jumbotron">
		<center><h3>Welcome to Build a Comp!</h3></center>

		<center>
			<%= link_to users_new_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-plus"></span> Sign Up
			<% end %>
			<a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			<%= link_to login_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-user"></span> Log In
			<% end %>
		</center>
	</div>
<% end %>
