<body data-no-turbolink>
<center><% if logged_in? %>
<%= link_to edit_user_path(current_user), class: "btn btn-lg btn-primary" do %>
<span class="glyphicon glyphicon-wrench"></span> Edit User Info
<% end %>
<%= link_to blacklist_pages_blacklist_path(current_user), class: "btn btn-lg btn-primary" do %>
<span class="glyphicon glyphicon-thumbs-down"></span> Blacklist Parts
<% end %>
<%= link_to users_path, class: "btn btn-default btn-lg" do %>
<span class="glyphicon glyphicon-globe"></span> View All Users
<% end %>
<%= link_to logout_path, method: "delete", class: "btn btn-lg btn-primary" do %>
<span class="glyphicon glyphicon-remove"></span> Log out
<% end %></center>

<% @notifs.each do |f| %>
  <% if current_user.notifications <= f.id %>
    <div>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <center>
          <%= f.body %>
        </center>
        <% update_notifications %>
      </div>
    </div>
  <% end %>
<% end %>

<center><%= image_tag("logo.png") %></center>
	<center><h3>User: <%= current_user.name %> </h3></center>
	<center><h3>Email: <%= current_user.email %></h3><center>
    <center><h3>Your Computers</h3><center>
        <div class=" center jumbotron">
			  <table class="table", style="width:80%;vertical-align:top">
      <tr class="active">
        <th>Switch</th>
        <th><center>ID</center></th>
        <th><center>Name</center></th>
        <th><center>Price</center></th>
      </tr>
      <% @computers.each do |f| %>
        <tr>
          <td>
          	<%if current_user.current_comp != f.id%>
          		<%= link_to "Make Current", computers_current_path(id:f.id)%>
          	<%end%>
          </td>
          <td><%= f.id %></td>
          <td><%= f.name %></td>
          <td>$<%= f.price %></td>
        </tr>
       <%end%>
        <tr>
        	<td><%=link_to computers_new_path, class: "btn btn-sm btn-success" do %>
        		Create new Comp!
        		<%end%>
        		</td>
        	<td><%=link_to computers_rename_path, class: "btn btn-sm btn-primary" do %>
        		Rename Current Computer
        		<%end%>
        	</td>
        	<td>
        		<%=link_to similar_computers_menu_path, class: "btn btn-sm btn-primary" do %>
        		View Similar Computers
        		<%end%>
            </td>
            <td>
        		<%=link_to computers_summary_path, class: "btn btn-sm btn-primary" do %>
        		View Current Computer
        		<%end%>
            </td>
        </tr>
      </table>
      </div>

      <center><h3>Your Parts</h3></center>
      <div class="jumbotron">
        <br>
        <center><h5>Motherboards</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>CPU Type</center></th>
            <th><center>GPU Type</center></th>
            <th><center>RAM Type</center></th>
            <th><center>HD Type</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @motherboards.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.cpu_compad %></td>
              <td><%= f.gpu_compad %></td>
              <td><%= f.ram_compad %></td>
              <td><%= f.hd_compad %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>CPUs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          </thead>
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Cores</center></th>
            <th><center>Speed</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @cpus.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.cores %></td>
              <td><%= f.speed %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>


        <center><h5>GPUs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>VRAM</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @gpus.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.vram %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>RAM</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Size</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @rams.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.size %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>HDs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Size</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @hds.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.size %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>Power Supplies</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @powers.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
            </tr>
          <% end %>
        </table>

      <br>
      <div>
        <%= link_to "Create a Part", parts_add_path, class: "btn btn-large btn-success" %>
      </div>
    </div>

<% else %>
<center><%= image_tag("logo.png") %></center><br>
	<div class="center jumbotron">
		<center><h3>Welcome to Build a Comp!</h3></center>

		<center>
			<%= link_to users_new_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-plus"></span> Sign Up
			<% end %>
			<a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
			<%= link_to login_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-user"></span> Log In
			<% end %>
		</center>
	</div>
<% end %>
</body>
