<% provide(:title, 'Add A CPU') %>

<center><h1>Add A CPU</h1></center>

<div class="row center jumbotron" >
  <div class="col-md-4 col-md-offset-4">

		<%= form_for :cpu do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control',:placeholder => "Name" %>

		<%= f.label :price %>
		<%= f.text_field :price, class: 'form-control',:placeholder => "0" %>

		<%= f.label :cores %>
		<%= f.text_field :cores, class: 'form-control',:placeholder => "0" %>

		<%= f.label :speed %>
		<%= f.text_field :speed, class: 'form-control',:placeholder => "0" %>

		<%= f.label :mb_compad, "Motherboard Compatability" %>
		<%= f.radio_button :mb_compad, "AMD", class: 'form-control' %>	<center><%= label_tag :mb_compad_amd, "AMD" %></center>
		<%= f.radio_button :mb_compad, "Intel", class: 'form-control' %> <center><%= label_tag :mb_compad_intel, "Intel" %></center>	

		<%= f.label :watts %>
		<%= f.text_field :watts, class: 'form-control',:placeholder => "0" %>

		<br/>
		<br/>
		<center>
			<div class="col-md-6 col-md-offset-1">
				<%= f.submit "Create CPU", class: "btn btn-lg btn-success" %>
				<a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
				<%= link_to parts_add_path, class: "btn btn-lg btn-danger" do %> Cancel
				<% end %>
			</div>
		</center>
    <% end %>
  </div>
</div>