<% provide(:title, 'Add A Power Supply') %>

<center><h1>Add A Power Supply</h1></center>
<center><%= image_tag("power.png") %></center>
<center><p>The electronic device that supplies electric energy to an electrical load. </p></center>

<div class="row center jumbotron" >
  <div class="col-md-4 col-md-offset-4">

		<%= form_for :power do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control',:placeholder => "Name" %>

		<%= f.label :price , "Price ($)" %>
		<%= f.number_field :price, class: 'form-control',:placeholder => "0" %>

		<%= f.label :watts %>
		<%= f.number_field :watts, class: 'form-control',:placeholder => "0" %>

		<br/>
		<br/>
			<center>
				<%= f.submit "Create Power Supply", class: "btn btn-lg btn-success" %>
				<a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
				<%= link_to parts_add_path, class: "btn btn-lg btn-danger" do %> Cancel
				<% end %>
			</center>
		</center>
    <% end %>
  </div>
</div>