<% provide(:title, 'Add A RAM') %>

<center><h1>Add RAM</h1></center>
<center><%= image_tag("ram.png") %></center>
<center><p>-Random-Access Memory-</p></center>
<center><p> A form of computer data storage. </p></center>
<center><p> It allows data items to be read and written in roughly the same amount of time regardless of the order in which data items are accessed.</p></center>

<div class="row center jumbotron" >
  <div class="col-md-4 col-md-offset-4">

		<%= form_for :ram do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control',:placeholder => "Name" %>

		<%= f.label :price %>
		<%= f.number_field :price, class: 'form-control',:placeholder => "0" %>

		<%= f.label :size %>
		<%= f.number_field :size, class: 'form-control',:placeholder => "0" %>

		<%= f.label :mb_compad, "Motherboard Compatability" %>
		<%= f.radio_button :mb_compad, "288-pin DDR4", class: 'form-control' %>	<center><%= label_tag :mb_compad_288_DDR4, "288-pin DDR4" %></center>
		<%= f.radio_button :mb_compad, "240-pin DDR3", class: 'form-control' %>	<center><%= label_tag :mb_compad_pci_240_DDR3, "240-pin DDR3" %></center>
		<%= f.radio_button :mb_compad, "240-pin DDR2", class: 'form-control' %>	<center><%= label_tag :mb_compad_pci_240_DDR3, "240-pin DDR2" %></center>

		<%= f.label :watts %>
		<%= f.number_field :watts, class: 'form-control',:placeholder => "0" %>

		<br/>
		<br/>
		<center>
				<%= f.submit "Create RAM", class: "btn btn-lg btn-success" %>
				<a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
				<%= link_to parts_add_path, class: "btn btn-lg btn-danger" do %> Cancel
				<% end %>
		</center>
    <% end %>
  </div>
</div>