<% provide(:title, 'Summary') %>
<center><h1>Summary</h1></center>

<center>
  <body>   
  <p><center>Computer ID: <%= @computer.id %><br>
    Name: <%= @computer.name %><br>
    Status: <%= @computer.status %></center></p>

     <table class="table">
      <tr class="active">
        <th><center>Part</center></th>
        <th><center>Description</center></th>
      </tr>
        <tr>
          <td>Motherboard<br></td>
          <td><p>ID: <%= @motherboard.id %><br>
            CPU Type: <%= @motherboard.cpu_compad %><br>
            RAM Type: <%= @motherboard.ram_compad %><br>
            GPU Type: <%= @motherboard.gpu_compad %><br>
            HD  Type: <%= @motherboard.hd_compad %><br>
            $<%= @motherboard.price %></p></td>
        </tr>
        <tr>
          <td>CPU<br><br></td>
          <td><p>ID: <%= @cpu.id %><br>
            Type: <%= @cpu.mb_compad %><br>
            <%= @cpu.speed %> GHz<br>
            $<%= @cpu.price %></p></td>
        </tr>
        <tr>
          <td>RAM<br><br></td>
          <td><p>ID: <%= @ram.id %><br>
            Type: <%= @ram.mb_compad %><br>
            <%= @ram.size %> GB<br>
            $<%= @ram.price %></p></td>
        </tr>
        <tr>
          <td>GPU<br><br></td>
          <td><p>ID: <%= @gpu.id %><br>
            Type: <%= @gpu.mb_compad %><br>
            <%= @gpu.vram %> GB<br>
            $<%= @gpu.price %></p></td>
        </tr>
        <tr>
          <td>HD<br><br></td>
          <td><p>ID: <%= @hd.id %><br>
            Type: <%= @hd.mb_compad %><br>
            <%= @hd.size %> GB<br>
            $<%= @hd.price %></p></td>
        </tr>
        <tr>
          <td>Power Supply<br><br></td>
          <td><p>ID: <%= @power.id %><br>
            <%= @power.voltage %> V<br>
            $<%= @power.price %></p></td>
        </tr>
    </table>
</center>

<div class="center jumbotron">
  <center> 
    <%= link_to static_pages_home_path, class: "btn btn-lg btn-primary" do %>
    <span class="glyphicon glyphicon-home"></span> Home
    <% end %>
  </center>
</div>