  <% provide(:title, 'Summary') %>
  <center><h1><strong>Summary</strong></h1></center>
   <head>
          <script language="javascript">
              function turnRed() {
                  if(@motherboard.id = 1) {
                      document.getElementById("mobo").style.visibility="hidden";
                      document.getElementById("cont1").style.visibility="hidden";
                  }
              }
          </script>
      </head>
  <center>
    <body>
    <h2><center>Computer ID: <%= @computer.id %><br>
      Name: <%= @computer.name %><br>
    </center></h2>
    
      <br>
      <center><h3>Motherboard:  
      <%= link_to "Edit", component_pages_motherboard_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_mobo_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s disabled" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>CPU Type</center></th>
          <th><center>GPU Type</center></th>
          <th><center>RAM Type</center></th>
          <th><center>HD Type</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @motherboard.id %></center></td>
          <td><center><%= @motherboard.name %></center></td>
          <td><center><%= @motherboard.cpu_compad %></center></td>
          <td><center><%= @motherboard.gpu_compad %></center></td>
          <td><center><%= @motherboard.ram_compad %></center></td>
          <td><center><%= @motherboard.hd_compad %></center></td>
          <td><center><%= @motherboard.watts %></center></td>
          <td><center>$<%= @motherboard.price %></center></td>
        </tr>
      </table>

      <br>
      <center><h3>CPU:  
      <%= link_to "Edit", component_pages_cpu_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_cpu_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>Type</center></th>
          <th><center>Cores</center></th>
          <th><center>Speed</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @cpu.id %></center></td>
          <td><center><%= @cpu.name %></center></td>
          <td><center><%= @cpu.mb_compad %></center></td>
          <td><center><%= @cpu.cores %></center></td>
          <td><center><%= @cpu.speed %> GHz</center></td>
          <td><center><%= @cpu.watts %></center></td>
          <td><center>$<%= @cpu.price %></center></td>
        </tr>
      </table>

      <br>
      <center><h3>GPU:  
      <%= link_to "Edit", component_pages_gpu_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_gpu_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>Type</center></th>
          <th><center>VRAM</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @gpu.id %></center></td>
          <td><center><%= @gpu.name %></center></td>
          <td><center><%= @gpu.mb_compad %></center></td>
          <td><center><%= @gpu.vram %> GB</center></td>
          <td><center><%= @gpu.watts %></center></td>
          <td><center>$<%= @gpu.price %></center></td>
        </tr>
      </table>

      <br>
      <center><h3>RAM:  
      <%= link_to "Edit", component_pages_ram_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_ram_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>Type</center></th>
          <th><center>Size</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @ram.id %></center></td>
          <td><center><%= @ram.name %></center></td>
          <td><center><%= @ram.mb_compad %></center></td>
          <td><center><%= @ram.size %> GB</center></td>
          <td><center><%= @ram.watts %></center></td>
          <td><center>$<%= @ram.price %></center></td>
        </tr>
      </table>

      <br>
      <center><h3>HD:  
      <%= link_to "Edit", component_pages_hd_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_hd_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>Type</center></th>
          <th><center>Size</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @hd.id %></center></td>
          <td><center><%= @hd.name %></center></td>
          <td><center><%= @hd.mb_compad %></center></td>
          <td><center><%= @hd.size %> GB</center></td>
          <td><center><%= @hd.watts %></center></td>
          <td><center>$<%= @hd.price %></center></td>
        </tr>
      </table>

      <br>
      <center><h3>Power Supply:  
      <%= link_to "Edit", component_pages_power_path, class: "btn btn-primary btn-s" %>
      <%= link_to "Delete", computers_delete_power_path, data: {confirm: "Are you sure to delete?"}, class: "btn btn-primary btn-s" %></h3></center>
       <table class="table">
        <tr class="active">
          <th><center>ID</center></th>
          <th><center>Name</center></th>
          <th><center>Watts</center></th>
          <th><center>Price</center></th>
        </tr>
        <tr>
          <td><center><%= @power.id %></center></td>
          <td><center><%= @power.name %></center></td>
          <td><center><%= @power.watts %></center></td>
          <td><center>$<%= @power.price %></center></td>
        </tr>
      </table>
  </center>

<% if (@motherboard.cpu_compad != @cpu.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and CPU do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_cpu_path%></a></strong></p>

</div>
<% end %>

<% if (@motherboard.ram_compad != @ram.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and RAM do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_ram_path%></a></strong></p>

</div>
<% end %>


<% if (@motherboard.gpu_compad != @gpu.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and GPU do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_gpu_path%></a></strong></p>

</div>
<% end %>

<% if (@motherboard.hd_compad != @hd.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
  <p><strong>Compatibility Error: </strong>Motherboard and HD do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_hd_path%></a></strong></p>

</div>
<% end %>

<% if (@power.watts < @sum_watts) %>
<div class="alert alert-dismissable alert-warning">
  <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
  <h4>Power Supply Error.</h4>
  <p>Power Supply cannot support.<a href="#" class="alert-link">Click to re-select.</a>.</p>
</div>
<% end %>

<% if (@computer.by_price != 99999) %>
  <div class="panel panel-default" align="center">
    <div class="panel-body">
    Total Build Price: $<%= @price_sum %>
    <br>
    Desired Max Build Price: $<%= @computer.by_price %>
    <br>
    <%= link_to "Change Max Price", build_by_select_price_path, class: "btn btn-large btn-info" %>
    </div>
  </div>
<% end %>


  <div>
    <center>
      <%= link_to static_pages_home_path, class: "btn btn-lg btn-primary" do %>
      <span class="glyphicon glyphicon-home"></span> Home
      <% end %>
    </center>
  </div>
