  <% provide(:title, 'Summary') %>
  <center><h1>Summary</h1></center>
   <head>
          <script language="javascript">
              function turnRed() {
                  if(@motherboard.id = 1) {
                      document.getElementById("mobo").style.visibility="hidden";
                      document.getElementById("cont1").style.visibility="hidden"; 
                  }
              }
          </script>
      </head>
  <center>
    <body>   
    <p><center>Computer ID: <%= @computer.id %><br>
      Name: <%= @computer.name %><br>
      Status: <%= @computer.status %></center></p>

       <table class="table">
        <tr class="active">
          <th><center>Part</center></th>
          <th><center>Description</center></th>
          <th> </th>
        </tr>
         
          <div id="mobo" onload='turnRed()'>
               <tr>
            <td>Motherboard</td>
            <td><p>ID: <%= @motherboard.id %><br>
              <%= @motherboard.name %><br>
              CPU Type: <%= @motherboard.cpu_compad %><br>
              RAM Type: <%= @motherboard.ram_compad %><br>
              GPU Type: <%= @motherboard.gpu_compad %><br>
              HD  Type: <%= @motherboard.hd_compad %><br>
              <%= @motherboard.watts %> Watts<br>
              $<%= @motherboard.price %></p></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_motherboard_path%></td>
               <td class="btn btn-primary btn-xs disabled"><%= link_to "Delete", computers_delete_mobo_path, data: {confirm: "Are you sure to delete?"}%></td>  
            </tr>
          </div>


          <tr>
            <td>CPU</td>
            <td><p>ID: <%= @cpu.id %><br>
              <%= @cpu.name %><br>
              Type: <%= @cpu.mb_compad %><br>
              SPEED: <%= @cpu.speed %> GHz<br>
              <%= @cpu.watts %> Watts<br>
              $<%= @cpu.price %></p></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_cpu_path%></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Delete", computers_delete_cpu_path, data: {confirm: "Are you sure to delete?"}%></td>
               
          </tr>
          <tr>
            <td>RAM</td>
            <td><p>ID: <%= @ram.id %><br>
              <%= @ram.name %><br>
              Type: <%= @ram.mb_compad %><br>
              SIZE: <%= @ram.size %> GB<br>
              <%= @ram.watts %> Watts<br>
              $<%= @ram.price %></p></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_ram_path%></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Delete", computers_delete_ram_path, data: {confirm: "Are you sure to delete?"}%></td>
               
          </tr>
          <tr>
            <td>GPU</td>
            <td><p>ID: <%= @gpu.id %><br>
              <%= @gpu.name %><br>
              Type: <%= @gpu.mb_compad %><br>
              VRAM: <%= @gpu.vram %> GB<br>
              <%= @gpu.watts %> Watts<br>
              $<%= @gpu.price %></p></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_gpu_path%></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Delete", computers_delete_gpu_path, data: {confirm: "Are you sure to delete?"}%></td>
               
          </tr>
          <tr>
            <td>HD</td>
            <td><p>ID: <%= @hd.id %><br>
              <%= @hd.name %><br>
              Type: <%= @hd.mb_compad %><br>
              SIZE: <%= @hd.size %> GB<br>
              <%= @hd.watts %> Watts<br>
              $<%= @hd.price %></p></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_hd_path%></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Delete", computers_delete_hd_path, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
          <tr>
            <td>Power Supply</td>
            <td><p>ID: <%= @power.id %><br>
              <%= @power.name %><br>
              <%= @power.watts %> Watts<br>
              $<%= @power.price %></p></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Edit/Select", component_pages_power_path%></td>
               <td class="btn btn-primary btn-xs"><%= link_to "Delete", computers_delete_power_path, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
      </table>
  </center>

<% if (@motherboard.cpu_compad != @cpu.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and CPU do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_cpu_path%></a></strong></p>

</div>
<% end %>

<% if (@motherboard.ram_compad != @ram.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and RAM do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_ram_path%></a></strong></p>

</div>
<% end %>


<% if (@motherboard.gpu_compad != @gpu.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
   <p><strong>Compatibility Error: </strong>Motherboard and GPU do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_gpu_path%></a></strong></p>

</div>
<% end %>

<% if (@motherboard.hd_compad != @hd.mb_compad) %>
     <div class="alert alert-dismissable alert-danger">
<!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
  <p><strong>Compatibility Error: </strong>Motherboard and HD do not match. <strong><a class="alert-link"><%= link_to "Click to re-select.", component_pages_hd_path%></a></strong></p>

</div>
<% end %>

<% if (@power.watts < @sum_watts) %>
<div class="alert alert-dismissable alert-warning">
  <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
  <h4>Power Supply Error.</h4>
  <p>Power Supply cannot support.<a href="#" class="alert-link">Click to re-select.</a>.</p>
</div>
<% end %>


  <div>
    <center> 
      <%= link_to static_pages_home_path, class: "btn btn-lg btn-primary" do %>
      <span class="glyphicon glyphicon-home"></span> Home
      <% end %>
    </center>
  </div>
