<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<center>Name: <%= @user.name %><br/>
					Email: <%= @user.email %><br/>
					Account Created on: <%= @user.created_at %><br/>
				</h1>
			</section>
		</aside>

	<% if logged_in? %>

		<div class="center jumbotron">
			<center> 
				<%= link_to static_pages_home_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-user"></span> Home
				<% end %>
			</center>
		</div>

	<% else %>

		<div class="center jumbotron">
			<center> 
				<%= link_to login_path, class: "btn btn-lg btn-primary" do %>
				<span class="glyphicon glyphicon-user"></span> Log In
				<% end %>
			</center>
		</div>

	<% end %>
</div>
