<% provide(:title, 'CPU') %>
<center><h1>CPU</h1></center>
<center><p>-Central Processing Unit-</p></center>
<center><p>The hardware within a computer that carries out the instructions of a computer program.</p></center>
<center><p> It performs the basic arithmetical, logical, control and input/output operations of the system.</p></center>
  <center>
    <table style="width:100%">
  <%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Type</center></th>
        <th><center>Speed</center></th>
        <th><center>Watts</center></th>
        <th><center>Price</center></th>
      </tr>

      <%=form_for(@computer) do |cpu_form|%>
      <% @cpu.drop(1).each do |f| %>
        <tr>
          <td><%=cpu_form.radio_button :cpu_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.speed %> GHz</td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
        </tr>
        <%end%>
      </table>
    </table>
            <%=cpu_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
      <% end %>

  </center>




<ul class="pager">
    <li class="previous"><%= link_to "← Previous", component_pages_motherboard_path%></li>
    <li class="next"><%= link_to "Next →", component_pages_ram_path%></li>
</ul>