<% provide(:title, 'CPU') %>
<!DOCTYPE html>
<html>
<head>
 <title>Computer | <%= yield(:title) %></title>
</head>
<center><h1>CPU</h1></center>

<center>
  <body>
    
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Price</center></th>
        <th><center>Speed</center></th>
      </tr>

      <% @cpu.each do |f| %>
        <tr>
          <td><input type="radio" name="cpu_choice" value=f.id /></td>
          <td><%= f.id %></td>
          <td>$ <%= f.price %></td>
          <td><%= f.speed %> GHz</td>
        </tr>
      <% end %>
    </table>
  </center>

<div align="right">
  <%= link_to "Next", component_pages_rvm_path,
  class: "btn btn-large btn-primary" %>
</div>
</body>
</html>
