<% provide(:title, 'CPU') %>
<center><h1>CPU</h1></center>

  <center> 
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Type</center></th>
        <th><center>Speed</center></th>
        <th><center>Price</center></th>
      </tr>

      <%=form_for(@computer) do |cpu_form|%>
      <% @cpu.each do |f| %>
        <tr>
          <td><%=cpu_form.radio_button :cpu_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.speed %> GHz</td>
          <td>$<%= f.price %></td>
        </tr>
        <%end%>

    </table>
            <%=cpu_form.submit "Save" %>
      <% end %>

  </center>


<div align="right">
  <%= link_to "Next", component_pages_rvm_path,
  class: "btn btn-large btn-primary" %>
</div>
