<% provide(:title, 'GPU') %>
<center><h1>GPU</h1></center>
<center><p>-Graphics Processing Unit-</p></center>
<center><p>A specialized electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display. </p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li><%= link_to "Summary", computers_summary_path%></li>
  <li class="active">GPU</li>
</ul>
<center>
  <table style="width:100%">
<%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Name</center></th>
        <th><center>Type</center></th>
        <th><center>VRAM</center></th>
        <th><center>Watts</center></th>
        <th><center>Price</center></th>
      </tr>

      <%=form_for(@computer) do |gpu_form|%>
      <% @gpu.drop(1).each do |f| %>
        <tr>
          <td><%=gpu_form.radio_button :gpu_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.name %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.vram %> GB</td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
    </table>
  </table>
    <%=gpu_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
    <%end%>
  </center>


  <ul class="pager">
    <li class="previous"><%= link_to "← Previous", component_pages_ram_path%></li>
    <li class="next"><%= link_to "Next →", component_pages_hd_path%></li>
  </ul>

</html>
