<% provide(:title, 'GPU') %>
<center><h1>GPU</h1></center>

<center>
  <body>
    
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Type</center></th>
        <th><center>VRAM</center></th>
        <th><center>Price</center></th>
      </tr>

      <%=form_for(@computer) do |gpu_form|%>
      <% @gpu.each do |f| %>
        <tr>
          <td><%=gpu_form.radio_button :gpu_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.vram %></td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
    </table>
    <%=gpu_form.submit "Save" %>
    <%end%>
  </center>


    <div align="right">
    <%= link_to "Next", component_pages_hd_path,
                                  class: "btn btn-large btn-primary" %>
  </div>
  </body>
</html>
