<% provide(:title, 'HD') %>
<center><h1>HD</h1></center>
<center><p>-Hard Disk Drive-</p></center>
<center><p>A data storage device used for storing and retrieving digital information using rapidly rotating disks coated with magnetic material.</p></center>
<center>
  <table style="width:100%">
<%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Type</center></th>
        <th><center>Size</center></th>
        <th><center>Price</center></th>
      </tr>

      <%=form_for(@computer) do |hd_form|%>
      <% @hd.drop(1).each do |f| %>
        <tr>
          <td><%=hd_form.radio_button :hd_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.size %></td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
    </table>
  </table>
    <%=hd_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
        <%end%>
  </center>




    <div align="right">
    <%= link_to "Next", component_pages_power_path,
                                  class: "btn btn-large btn-primary" %>
  </div>
</html>
