<% provide(:title, 'HD') %>
<!DOCTYPE html>
<html>
<head>
 <title>Computer | <%= yield(:title) %></title>
</head>
<center><h1>HD</h1></center>

<center>
  <body>
    
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Price</center></th>
        <th><center>Size</center></th>
      </tr>

      <% @hd.each do |f| %>
        <tr>
          <td><input type="radio" name="hd_choice" value=f.id /></td>
          <td><%= f.id %></td>
          <td>$ <%= f.price %></td>
          <td><%= f.size %></td>
        </tr>
      <% end %>
    </table>
  </center>


    <div align="right">
    <%= link_to "Next", component_pages_power_path,
                                  class: "btn btn-large btn-primary" %>
  </div>
  </body>
</html>
