<% provide(:title, 'Motherboard') %>
<center><h1>Motherboard</h1></center>
<center><p>The main printed circuit board found in computers.</p></center>
<center><p>It holds many of crucial electronic components of the system.</p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li><%= link_to "Summary", computers_summary_path%></li>
  <li class="active">Motherboard</li>
</ul>
<center>
  <table style="width:100%">
    <%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Name</center></th>
        <th><center>CPU Type</center></th>
        <th><center>GPU Type</center></th>
        <th><center>RAM Type</center></th>
        <th><center>HD Type</center></th>
        <th><center>Watts</center></th>
        <th><center>Price</center></th>
      </tr>
</center>

  <%=form_for(@computer) do |mobo_form|%>

    <% @mother.drop(1).each do |f| %>
    <tr>
          <td><%=mobo_form.radio_button :motherboard_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.name %></td>
          <td><%= f.cpu_compad %></td>
          <td><%= f.gpu_compad %></td>
          <td><%= f.ram_compad %></td>
          <td><%= f.hd_compad %></td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
  </table>
</table>
  <%=mobo_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
  <%end%>

  

  <ul class="pager">
    <li class="previous disabled"><%= link_to "← Previous"%></li>
    <li class="next"><%= link_to "Next →", component_pages_cpu_path%></li>
  </ul>