<% provide(:title, 'Motherboard') %>
<center><h1>Motherboard</h1></center>

<center>
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Price</center></th>
      </tr>
</center>

  <%=form_for(@computer) do |mobo_form|%>

    <% @mother.each do |f| %>
    <tr>
          <td><%=mobo_form.radio_button :motherboard_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>

  </table>
  <%=mobo_form.submit "Save" %>
  <%end%>



  <div align="right">
  <%= link_to "Next", component_pages_cpu_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  </div>