<% provide(:title, 'Motherboard') %>
<center><h1>Motherboard</h1></center>
<center>
  <table style="width:100%">
    <%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>CPU Type</center></th>
        <th><center>GPU Type</center></th>
        <th><center>RAM Type</center></th>
        <th><center>HD Type</center></th>
        <th><center>Price</center></th>
      </tr>
</center>

  <%=form_for(@computer) do |mobo_form|%>

    <% @mother.drop(1).each do |f| %>
    <tr>
          <td><%=mobo_form.radio_button :motherboard_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.cpu_compad %></td>
          <td><%= f.gpu_compad %></td>
          <td><%= f.ram_compad %></td>
          <td><%= f.hd_compad %></td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
  </table>
</table>
  <%=mobo_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
  <%end%>

  <div align="right">
  <%= link_to "Next", component_pages_cpu_path,
                                class: "btn btn-large btn-primary" %>
  </div>
