<% provide(:title, 'Power Supply') %>
<center><h1>Power Supply</h1></center>
<center><p>The electronic device that supplies electric energy to an electrical load. </p></center>
<center>
  <table style="width:100%">
<%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Watts</center></th>
        <th><center>Price</center></th>
      </tr>

<%=form_for(@computer) do |power_form|%>
      <% @power.drop(1).each do |f| %>
        <tr>
          <td><%=power_form.radio_button :power_id, value = f.id%></td>
          <td><%= f.id %></td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
    </table>
  </table>
    <%=power_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
  <%end%>
  </center>


  <ul class="pager">
    <li class="previous"><%= link_to "← Previous", component_pages_hd_path%></li>
    <li class="next"><%= link_to "Next →", computers_summary_path%></li>
  </ul>
