<% provide(:title, 'Power Supply') %>
<center><h1>Power Supply</h1></center>
<center><%= image_tag("power.png", size: "200x200") %></center>
<center><p>The electronic device that supplies electric energy to an electrical load. </p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li><%= link_to "Summary", computers_summary_path%></li>
  <li class="active">PowerSupply</li>
</ul>

<div>
  <div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    This computer needs a powersupply with at least <strong><%= @powerwatts.to_int %></strong> watts so that it can power all of its parts.
  </div>
</div>

<center>
  <table style="width:100%">
<%= render 'component_pages/price' %>
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Creator</center></th>
        <th><center>Name</center></th>
        <th title="Total amount of power part can generate"><center>Watts</center></th>
        <th><center>Price</center></th>
        <% if @by_price != 99999 %>
            <th><center>Recommended by Price</center></th>
            <th><center>Fits Max Price</center></th>
        <% end %>
      </tr>

<%=form_for(@computer) do |power_form|%>
      <% @power.drop(1).each do |f| %>
        <tr>
          <td><%=power_form.radio_button :power_id, value = f.id%></td>
          <td><%= f.id %></td>
          <% if f.creator != 0 %>
            <td><%= User.find_by(id: f.creator).name %></td>
          <% else %>
            <td>System</td>
          <% end %>
          <td><%= f.name %></td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
          <% if @by_price != 99999 %>
            <% if  f.price <= @part_allowance %>
              <td><font color="green"><strong>O</strong></font></td>
            <% else %>
              <td><font color="red"><strong>X</strong></font></td>
            <% end %>
            <% if  @computer.price - @moboprice.price + f.price <= @by_price %>
              <td><font color="green"><strong>O</strong></font></td>
            <% else %>
              <td><font color="red"><strong>X</strong></font></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </table>
    <%=power_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
  <%end%>
  </center>


  <ul class="pager">
    <li class="previous"><%= link_to "← Previous", component_pages_hd_path%></li>
    <li class="next"><%= link_to "Next →", computers_summary_path%></li>
  </ul>
