<% provide(:title, 'RAM') %>
<center><h1>RAM</h1></center>
<center><%= image_tag("ram.png") %></center>
<center><p>-Random-Access Memory-</p></center>
<center><p> A form of computer data storage. </p></center>
<center><p> It allows data items to be read and written in roughly the same amount of time regardless of the order in which data items are accessed.</p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li><%= link_to "Summary", computers_summary_path%></li>
  <li class="active">RAM</li>
</ul>

<div>
  <div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    This computer's <a href="/component_pages/motherboard" class="alert-link">motherboard</a> is only compatible with <strong><%= @motherboard.ram_compad%></strong> RAM.
  </div>
</div>

<center>
    <table style="width:100%">
  <%= render 'component_pages/price' %>
    <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Creator</center></th>
        <th><center>Name</center></th>
        <th  title="Compatible by interface type"><center>Type</center></th>
        <th  title="Amount of space for running programs"><center>Size</center></th>
        <th title="Amount of power part requires"><center>Watts</center></th>
        <th><center>Price</center></th>
        <% if @by_price != 99999 %>
            <th><center>Recommended by Price</center></th>
            <th><center>Fits Max Price</center></th>
        <% end %>
      </tr>

      <%=form_for(@computer) do |ram_form|%>
      <% @ram.drop(1).each do |f| %>
        <tr>
          <td><%=ram_form.radio_button :ram_id, value = f.id%></td>
          <td><%= f.id %></td>
          <% if f.creator != 0 %>
            <td><%= User.find_by(id: f.creator).name %></td>
          <% else %>
            <td>System</td>
          <% end %>
          <td><%= f.name %></td>
          <td><%= f.mb_compad %></td>
          <td><%= f.size %> GB</td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
          <% if @by_price != 99999 %>
            <% if  f.price <= @part_allowance %>
              <td><font color="green"><strong>O</strong></font></td>
            <% else %>
              <td><font color="red"><strong>X</strong></font></td>
            <% end %>
            <% if  @computer.price - @moboprice.price + f.price <= @by_price %>
              <td><font color="green"><strong>O</strong></font></td>
            <% else %>
              <td><font color="red"><strong>X</strong></font></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </table>
    <%=ram_form.submit "Save", class: "btn btn-primary btn-lg btn-success" %>
    <%end%>
  </center>

  <ul class="pager">
    <li class="previous"><%= link_to "← Previous", component_pages_cpu_path%></li>
    <li class="next"><%= link_to "Next →", component_pages_gpu_path%></li>
  </ul>
