<% provide(:title, 'Blacklist') %>
<center><h1>Blacklist</h1></center>
<center><p>You can select parts that you do not wish to show up when you are building your computer.</p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li class="active">Blacklist</li>
</ul>
<center>
	<%= link_to blacklist_pages_motherboard_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Motherboard
	<% end %>
	<%= link_to blacklist_pages_cpu_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> CPU
	<% end %>
	<%= link_to blacklist_pages_ram_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> RAM
	<% end %>
	<%= link_to blacklist_pages_gpu_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> GPU
	<% end %>
	<%= link_to blacklist_pages_hd_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Hard Drive
	<% end %>
	<%= link_to blacklist_pages_power_path, class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Power Supply
	<% end %>
</center>
</div>

<center>
	<h3>Your Blacklisted Parts</h3>
	<br>
    	<center><h5>Motherboards</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>CPU Type</center></th>
            <th><center>GPU Type</center></th>
            <th><center>RAM Type</center></th>
            <th><center>HD Type</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @mobo.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.cpu_compad %></td>
              <td><%= f.gpu_compad %></td>
              <td><%= f.ram_compad %></td>
              <td><%= f.hd_compad %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_mobo_path(:moboid => f.id) %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>CPUs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          </thead>
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Cores</center></th>
            <th><center>Speed</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @cpu.drop(1).each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.cores %></td>
              <td><%= f.speed %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_cpu_path(:cpuid => f.id) %></td>
            </tr>
          <% end %>
        </table>


        <center><h5>GPUs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>VRAM</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @gpu.drop(1).each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.vram %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_gpu_path(:gpuid => f.id) %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>RAM</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Size</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @ram.drop(1).each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.size %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_ram_path(:ramid => f.id) %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>HDs</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Size</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @hd.drop(1).each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.mb_compad %></td>
              <td><%= f.size %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_hd_path(:hdid => f.id) %></td>
            </tr>
          <% end %>
        </table>

        <center><h5>Power Supplies</h5></center>
        <table class="table", style="width:80%;vertical-align:top">
          <tr class="active">
            <th><center>Name</center></th>
            <th><center>Watts</center></th>
            <th><center>Price</center></th>
          </tr>
          <% @power.drop(1).each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.watts %></td>
              <td><%= f.price %></td>
              <td class="btn btn-primary btn-xs"><%= link_to "Delete", blacklists_delete_power_path(:powerid => f.id) %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </center>
</html>