<% provide(:title, 'Blacklist') %>
<center><h1>Blacklist</h1></center>
<center><p>You can select parts that you do not wish to show up when you are building your computer.</p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li class="active">Blacklist</li>
</ul>
<center>
	<%= link_to blacklist_pages_motherboard_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Motherboard
	<% end %>
	<%= link_to blacklist_pages_cpu_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> CPU
	<% end %>
	<%= link_to blacklist_pages_ram_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> RAM
	<% end %>
	<%= link_to blacklist_pages_gpu_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> GPU
	<% end %>
	<%= link_to blacklist_pages_hd_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Hard Drive
	<% end %>
	<%= link_to blacklist_pages_power_path(current_user), class: "btn btn-lg btn-primary" do %>
		<span class="glyphicon glyphicon-thumbs-down"></span> Power Supply
	<% end %>
</center>
</div>
</html>