<% provide(:title, 'Motherboard') %>
<center><h1>Motherboard</h1></center>
<center><p>The main printed circuit board found in computers.</p></center>
<center><p>It holds many of crucial electronic components of the system.</p></center>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_home_path%></li>
  <li><%= link_to "Blacklist", blacklist_pages_blacklist_path(current_user)%></li>
  <li class="active">Motherboard Blacklist</li>
</ul>
<center>
  <table style="width:100%">
     <table class="table", style="width:80%;float:right;vertical-align:top">
      <tr class="active">
        <th></th>
        <th><center>ID</center></th>
        <th><center>Creator</center></th>
        <th><center>Name</center></th>
        <th title="TEST"><center>CPU Type</center></th>
        <th><center>GPU Type</center></th>
        <th><center>RAM Type</center></th>
        <th><center>HD Type</center></th>
        <th><center>Watts</center></th>
        <th><center>Price</center></th>
      </tr>
</center>

  <%= form_for(@blacklist) do |mobobl_form| %>

    <% @mobo.drop(1).each do |f| %>
    <tr>
          <td><%= mobobl_form.radio_button :mobo_id, value = @blacklist.mobo_id + f.id.to_s + ',' %></td>
          <td><%= f.id %></td>
          <% if f.creator != 0 %>
            <td><%= User.find_by(id: f.creator).name %></td>
          <% else %>
            <td>System</td>
          <% end %>
          <td><%= f.name %></td>
          <td><%= f.cpu_compad %></td>
          <td><%= f.gpu_compad %></td>
          <td><%= f.ram_compad %></td>
          <td><%= f.hd_compad %></td>
          <td><%= f.watts %> Watts</td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
  </table>
</table>
  <%= mobobl_form.submit "Blacklist", class: "btn btn-primary btn-lg btn-success" %>
  <%end%>